.transfer-container {
   width: 80%;
   height: 400px;
   border: 1px solid transparent;
   box-shadow: 0 5px 8px #512da8;
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;

  .form-container {
     height: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;
     gap: 30px;
     padding-top: 20px;
     position: relative;
  
     h3 {
        font-size: 25px;
     }

     input {
        padding: 5px 0 5px 8px;
        border-radius: 10px;
        border: none;
        width: 200px;
     }

     input::placeholder {
        color: #000000b9;
     }

     button {
        background-color: #6847b4;
        color: #fff;
        width: 200px;
        padding: 5px 0;
        font-size: 12px;
        font-weight: 300;
        opacity: 0.8;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        text-transform: uppercase;
     }

     button:hover {
        opacity: 1;
     }
  }
}